.ButtonsLayout {
  @include grid(repeat(6, 1fr), 1rem);
  background-color: $background-color;
  padding: 10px 0 10px 0;
}

@media screen and (max-width: 800px) {
  .ButtonsLayout {
    @include grid(repeat(3, 1fr), 10px, 40px, row);
    margin: auto;
  }
}
@media screen and (max-width: 600px) {
  .ButtonsLayout {
    @include grid(repeat(2, 1fr), 10px, 40px, row);
    margin: auto;
  }
}
