.Card-layout {
  padding: 2px;
}

// function returns a set of grid-area styles
$size-list: (
  size-zero: span 1 / span 1,
  size-thousand: span 2 / span 1,
  size-ten-thousand: span 3 / span 1,
  size-hundred-thousand: span 2 / span 2,
  size-million: span 5 / span 1,
  size-ten-million: span 3 / span 2,
  size-hundred-million: span 4 / span 2,
  size-billion: span 3 / span 3,
  size-ten-billion: span 5 / span 2,
  size-hundred-billion: span 6 / span 2,
);

@each $key, $val in $size-list {
  .#{$key} {
    grid-area: #{$val};
  }
}

// function returns a set of font-size styles
$size-font-list: (
  size-ten-million: 0.6rem,
  size-hundred-million: 0.7rem,
  size-billion: 0.7rem,
  size-ten-billion: 0.7rem,
  size-hundred-billion: 0.8rem,
);

@each $key, $val in $size-font-list {
  .Card-content--#{$key} {
    font-size: #{$val};
  }
}
