// colors according to performance
/*
.minus-five {
  background-color: $minus-five-color;
}
.minus-three {
  background-color: $minus-three-color;
}
.minus-one {
  background-color: $minus-one-color;
}
.zero {
  background-color: $zero-color;
}
.plus-one {
  background-color: $plus-one-color;
}
.plus-three {
  background-color: $plus-three-color;
}
.plus-five {
  background-color: $plus-five-color;
}
*/