.TableRow {
  @include grid(repeat(7, 1fr), 0, auto, row);
  padding: 3px 0 3px 0;
  border-bottom: 2px solid black;

  &:nth-of-type(odd) {
    background-color: $secondary-color;
  }

  &-content {
    font-size: 0.8rem;
  }
}
