.Tooltip {
  position: absolute;
  background-color: $primary-color;
  color: black;
  display: flex;
  flex-direction: column;
  padding: 15px;
  text-align: left;

  &__content {
    font-size: 0.8rem;
    margin: 0;
  }

  &__name {
    font-size: 1.1rem;
  }

  &__price {
    font-size: 1.1rem;
    font-weight: bold;
  }
}
.animate {
  -webkit-animation: SHOW 0.1s;
  -moz-animation: SHOW 0.1s;
  -o-animation: SHOW 0.1s;
  animation: SHOW 0.1s;
}
@keyframes SHOW {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
