input {
    height: 32px;
    background-color: transparent;
    border: none;
    color: white;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: content-box;
}
input::placeholder {
    font-family: 'Exo 2', sans-serif;
    font-size: 0.8rem;
    color: grey;
}
input:focus {
    outline: none;
}
input:focus::placeholder {
    color: grey;
}
