button {
    height: 32px;
    cursor: pointer;
    background-color: var(--background-color);
    font-family: 'Exo 2', sans-serif;
    font-size: 0.8rem;
    color: white;
    border: none;
    padding: 8px;
}
button:focus {
    outline: none;
}

