#colorCodesDiv {
    display: grid;
}
ul {
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: center;
    cursor: context-menu;
}
ul li {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
}