// import variables
@import "../variables/variables";


// function returns a set of background-color styles
$color-list: (
  minus-five: $minus-five-color,
  minus-three: $minus-three-color,
  minus-one: $minus-one-color,
  zero: $zero-color,
  plus-one: $plus-one-color,
  plus-three: $plus-three-color,
  plus-five: $plus-five-color,
);

@each $key, $val in $color-list {
  .#{$key} {
    background-color: $val;
  }
}

// returns
// .minus-five {
//   background-color: $minus-five-color;
// }
// ...
